* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

nav {
  background: red;
  height: 6vh;
}

h3 {
  padding: 10px;
  color: #fff;
}

div {
  height: 90vh;
  background: yellow;
}

footer {
  height: 4vh;
  background: green;
}
