* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 810px;
}

nav {
  background: red;
  height: 6%;
}

div {
  height: 90%;
  background: yellow;
}

footer {
  height: 4%;
  background: green;
}
